node_modules
# Keep environment variables out of version control
.env

/app/generated/prisma

/prisma/src/app/generated/prisma

/src/generated/prisma

/app/generated/prisma

/src/generated/prisma

/prisma/src/generated/prisma

/generated/prisma

/src/generated/prisma

/src/generated/prisma

/generated/prisma
